name: Deploy

on:
    push:
        branches: [main]
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v3.5.2

            - name: Setup Node.js environment
              uses: actions/setup-node@v2.5.2
              with:
                  node-version: '20.12.1'

            - name: Cache node modules
              uses: actions/cache@v2.1.8
              id: cache
              with:
                  path: node_modules
                  key: npm-packages-${{ hashFiles('**/package-lock.json') }}

            - name: Create .env file
              run: echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" >> .env

            - name: Install Dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm install

            - name: Lint and Format Check
              run: |
                  npm run lint
                  npm run format

            - name: Build
              run: npm run build

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build and push
              uses: docker/build-push-action@v4
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-nginx

            - name: Pull and restart Docker Container
              uses: appleboy/ssh-action@master
              with:
                  key: ${{ secrets.SSH_KEY }}
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USER }}
                  script: |
                      sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-nginx
                      sudo docker stop my-nginx || true
                      sudo docker rm my-nginx || true
                      sudo docker run -d --rm --name my-nginx -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/my-nginx
